# Build files
*.js
!jest.config.js
*.d.ts

# Dependencies
node_modules

# AWS CDK outputs
.cdk.staging
cdk.out

# Environment/config files
.env
.env.local

# Logs
*.log
npm-debug.log*

# System files
.DS_Store
Thumbs.db

# Editor folders
.vscode/
.idea/

# Temp files
*.tmp
